.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
  }
li.sidebarListItem:hover {
    background: #adb5bd;
    border-radius: 5px;
}
li.sidebarListItem {
    padding: 5px 10px;
    margin: 5px 15px;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.sidebarListItem a{
    text-decoration: none;
    color: rgb(33, 37, 41);
    margin-left: 5px;
}
ul.sidebarList {
    list-style: none;
    padding: 0;
}
h3.siebarTitle {
    font-size: 1rem;
    padding: 5px 15px;
    color: #adb5bd;
}
li.sidebarListItem.active{
    background: #adb5bd;
    border-radius: 5px;
}
.seprator{
    border-bottom: 1px solid adb5bd;
    margin: 15px;
}