.sidebar {
    flex: 1 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    padding: 15px 10px;
}
li.sidebarListItem:hover {
    background: #eeeef7;
    border-radius: 5px;
}
li.sidebarListItem {
    padding: 0px 15px;
    margin: 5px 15px;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.sidebarListItem a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    margin-left: 5px;
    width: 100%;
    padding: 10px 0;
}
ul.sidebarList {
    list-style: none;
    padding: 0;
}
h3.siebarTitle {
    font-size: 1rem;
    padding: 5px 15px;
    color: #adb5bd;
}
li.sidebarListItem.active{
    background: #eeeef7;
    border-radius: 5px;
}
.seprator{
    border-bottom: 1px solid adb5bd;
    margin: 15px;
}
.userUpdateInput:focus-visible {
    outline: none;
}