body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.main-container{
    display: flex;
}
li.nav-item {
    display: flex;
    align-items: center;
}
.contentArea{
    flex: 5;
}
